```{=html}

<% if (items && items.length > 0) { %>

<h2 id="projects"><i class="bi-puzzle" role="img" aria-hidden="true"></i> Projects</h2>

<% for (const item of items) { %>

<div class="card">
  <div class="card-body">
    <h3 class="card-title"><%- item.title %></h3>
    <p class="card-subtitle mb-2 text-muted"><%- item.subtitle %></p>
    <p class="card-text"><%- item.description %></p>
    <% if (item.links) { %>
    <% for (const link of item.links) { %>
    <a href="<%- link.href %>" class="card-link"><%- link.title %></a>
    <% } %>
    <% } %>
  </div>
</div>
<br />

<% } %>

<% } %>

```